
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');




/* --variable declare--- */
:root{
    --light-grey:rgb(237, 237, 237);
    --yellow:rgb(254, 187, 12);
    --blue:rgb(0, 122, 130);
    --black:rgb(61, 61, 61);
    --light-black:rgb(102, 102, 102);
    --white:#fff;
    --fs-14:16px;
}

body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    font-family: 'Lato', sans-serif;
}

.bold-fs{
    font-family: bold-fs;
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

.bebas-fs{
    font-family: 'Acme', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    font-weight: 300;
    color: var(--black);
}



/* general-class */


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding: 10px 15px;

}

a{
    text-decoration: none;
    
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

}



.flex-wrapper{
    display: flex;
    align-items: center;
    
}


.flex-vertical{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-justify-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ---global-class--- */




.nav-row{
    padding: 18px 0px;
    font-weight: 500;
    font-size: var(--fs-14);
    background: var(--light-grey);
}

.nav-menu ul li a{
    color: var(--light-black);
    padding: 15px 0px;

}

.nav-menu ul li a:hover{
    color: var(--yellow);
    transition: all 0.2s linear;
}

.user-login ul li a{
    background-color: var(--blue);
    padding: 13px 25px;
    color: white;
    border-radius: 30px;
}

.user-login ul li:first-child:hover a{
    color: var(--blue);
}

.user-login ul li:last-child:hover a{
    filter: brightness(1.2);
}

.user-login ul li:first-child a{
    background-color: transparent;
    color: var(--light-black);
}

.user-login ul li{
    padding-right: 0;
}


/* ---banner--- */


.banner{
    background-color: var(--light-grey);
}





.banner-btn{
    background-color: var(--blue);
    padding: 10px 25px;
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
}

.banner-btn:hover{
    filter: brightness(1.2);
}
.wallpapper-wrapper{
    min-height: 670px;
    display: flex;
    align-items: center;
}


.banner-content p{
    color: grey;
}



.banner-content ul li{
    padding-left: 0px;
    position: relative;
}

.banner-content button{
    margin: 25px 0px;
}

.list{
    
    color: grey;
}

.banner-content ul li:not(:first-child){
    padding-left: 35px;
    position: relative;
}

.banner-content ul li:not(:first-child):before{
    content: '\2022';
    color: var(--yellow);
    position: absolute;
    left: 10px;
    
}


span{
    position: relative;
    left: 100px;
    color: var(--blue);
    font-weight: 600;
}

span::before{
    content: '';
    position: absolute;
    left: -100px;
    top: 12px;
    width: 80px;
    height: 4px;
    background: var(--yellow);
}

.list{
    padding-top: 5px;
}

.box{
    background-color: var(--white);
    width: 220px;
    padding: 10px;
    box-shadow: 2px 2px 10px gray;
    
}

.banner-content h1{
    padding-top: 15px;
}

.box h3{
    font-family: bold-fs;
}

.box p{
    position: relative;
    color: var(--black);
    font-size: 15px;
    

}

.box p::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 3px;
    height: 2px;
    background: var(--yellow);

}

.banner-bottom .container{
    max-width: 1020px;
}

.banner-bottom{
    position: relative;
    top: -56px;
}

.box *{
    padding-bottom: 20px;
}

.box:hover{
    background: var(--blue);
    transition: all 0.2s ease-in;

}

.box:hover h3{
    color: var(--yellow);
    
}

.box:hover p{
    color: var(--white);
    
    
}

.box h3{
    color: var(--blue);
    font-family: 'Acme', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 300;


}